<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            LightUp
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">LightUp</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <lottie-player *ngIf="!flashOn" slot="end" autoplay loop src="https://assets2.lottiefiles.com/datafiles/aidRldsQ1TyvNEf/data.json">
        </lottie-player>
        <ion-button color="success" (click)="switch('on')" *ngIf="!flashOn" shape="round" size="large">
            TURN ON
        </ion-button>
        <lottie-player *ngIf="flashOn" slot="end" autoplay src="https://assets2.lottiefiles.com/datafiles/WLZxDkEn1AQcp9K/data.json">
        </lottie-player>
        <ion-button color="danger" (click)="switch('off')" *ngIf="flashOn" shape="round" size="large">
            TURN OFF
        </ion-button>
    </div>
</ion-content>